*.pyc
*.root
Cuts/*/aliases.json
Utilities/Selectors/disambiguateFinalStates_*
Utilities/python/ConfigHistTools.py
Utilities/python/ConfigHistFactory.py
*.cs
*_C*
*_cc*
*~
*#*#
AnalysisDatasetManager
*.dat
*.out
